.container {
  display: flex;
  margin-top: 70px;
  width: 100vw;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.featured {
  padding: 5rem;
  background: var(--black-bg);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuredTitle {
  font-size: 64px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

.featuredText {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  max-width: 600px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 6rem 4rem;
  gap: 60px;
}

.featuresTitle {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.9px;
  color: var(--black-bg);
  max-width: 800px;
  text-align: center;
}

.featuresText {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--black-bg);
  max-width: 500px;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 2rem 0;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 30px;
  width: 30%;
  max-width: 350px;
  padding: 1rem;
}

.feature h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.56px;
  color: var(--black-bg);
}

.feature p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: #565656;
}

.secondaryFeaturesContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  color: var(--black-bg);
}

.secondaryFeature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 40px;
  border-radius: 8px;
  border: solid 1px #d6d6d6;
  transition: box-shadow 0.6s ease-out;
}

.secondaryFeature:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.6s ease-in;
}

.secondaryFeature div {
  display: flex;
}

.secondaryFeature div h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

.secondaryFeature div p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
}

.secondaryFeature div:last-child {
  flex-direction: column;
  gap: 20px;
}

.caseSection {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  gap: 60px;
  padding: 6rem;
  background: var(--black-bg);
  color: var(--white);
  width: 100%;
}

.caseSectionTitle {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.9px;
  text-align: center;
}

.caseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.case {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px;
  border-radius: 8px;
  background-color: #2d2d2d;
  max-width: 500px;
  transition: box-shadow 0.6s ease-out;
}

.case:hover {
  box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.6s ease-in;
}

.case h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
}

.case p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.4px;
}

.caseAction {
  display: flex;
  justify-content: center;
  padding: 14px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 15px;
  font-weight: 600;
  color: #313131;
  max-width: 140px;
}

.caseAction:hover {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .container {
    width: auto;
  }

  .featured {
    padding: 4rem 1rem;
  }

  .featuredTitle {
    font-size: 36px;
  }

  .features {
    margin: 4rem 1rem;
    align-items: center;
    text-align: center;
  }

  .featuresTitle {
    font-size: 28px;
  }

  .featuresText {
    font-size: 16px;
  }

  .featuresContainer {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .feature {
    width: 90%;
    max-width: 90%;
  }

  .feature h3 {
    font-size: 22px;
  }

  .secondaryFeaturesContainer {
    flex-direction: column;
  }

  .secondaryFeature {
    flex-direction: column;
    padding: 20px;
    width: 90%;
  }

  .secondaryFeature div h3 {
    font-size: 22px;
  }

  .secondaryFeature div p {
    font-size: 15px;
  }

  .caseSection {
    text-align: center;
    padding: 4rem 1rem;
  }

  .caseSectionTitle {
    font-size: 32px;
  }

  .caseContainer {
    flex-direction: column;
    gap: 40px;
  }

  .case {
    padding: 40px 20px;
  }

  .case h3 {
    font-size: 20px;
  }

  .case p {
    font-size: 15px;
  }

  .caseAction {
    max-width: 100%;
  }
}
