.container {
    display: flex;
    margin-top: 70px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--black-bg);
}

.featured {
    padding: 5rem;
    background: 
    linear-gradient(to right, rgba(34, 43, 144, 1), rgba(7, 9, 14, 1)),
    linear-gradient(to bottom, rgb(34, 43, 144) 0%, rgba(8, 8, 8, 1) 30%);
    background-blend-mode: overlay;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featuredVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.featuredVideo video {
    width: 50%;
}

.featuredContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuredContent img {
    filter: invert(1);
}

.featuredTitle {
    font-size: 80px;
    line-height: 102.4px;
    letter-spacing: -4.1px;
    font-weight: 600;
    padding: 20px 0;
}

.featuredText {
    font-size: 18.2px;
    line-height: 34.56px;
    font-weight: 400;
    max-width: 600px;
    margin-bottom: 30px;
}

.btnContainer {
    display: flex;
    width: 100%;
    gap: 25px;
  }
  .mainBtn{
    width: 172px;
    height: 61px;
    border-radius: 100px;
    background-color: #195DFF;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem;
    gap: 60px;
}

.featureVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}
.damageData{
    margin-top: 0px;
    display: flex;
    width: 100%;
}
.damageDataImg{
    position: relative;
    height: 700px;
    width: 100%;
}

.coveredDamagesSection{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coveredDamagesContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coveredDamagesHeading{
    font-weight: 500;
    width: 100%;
    font-size: 85.4px;
    line-height: 95.04px;
    letter-spacing: -3.46px;
    text-align: left;
    margin-bottom: 30px;
}
.damagesSection{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.damage{
    border: 1px solid #000000;
    width: 350px;
    height: 490px;
}

.damageTypeHeading{
    width: 100%;
    height: 75px;
    background-color: #000000;
    color: white;
    padding-left: 20px;
    font-size: 24px;
    line-height: 95px;
    position: relative;
    display: flex;
    align-items: center;
}
.damageTypeImg{
    position: absolute;
    top: 20px;
    right: 20px;
}
.damageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 30px;
    color: #000000;
    font-size: 24px;
    line-height: 75px;
}
.moreContentImg{
    margin-left: 20px;
}

.photoAPIFeatureSection{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
  }

  .photoAPIFeatureContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center    
  }

  .blogCaraouselContainer {
    margin-top: 40px;
    position: relative;
    background-color: var(--white);
    display: flex;
    width: 90%;
  }
  
  .blogCaraouselContent{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: transform 10s ease-in-out;
    gap: 30px;
  }

  .blogCaraouselContent::-webkit-scrollbar {
    display: none;
  }
  .blogCaraouselContent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .blogItem {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    flex: 0 0 80%;
    overflow: hidden;
    scroll-snap-align: start;
    gap: 30px;
    max-width: 300px;
    /* border-radius: 3px; */
    border: 1px solid #2B2B2B;
    /* border: solid 1px #eee; */
    text-align: left;
    transition: box-shadow 0.6s ease-out;
    background: var(--white);
  }
  
  .blogItem:hover {
    box-shadow: 1px 8px 20px grey;
    transition: box-shadow 0.6s ease-in;
  }
  
  .blogContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .blogImg {
    position: relative;
    height: 200px;
    width: 100%;
  }
  
  .blogImg img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .blogTag {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.24px;
    color: var(--blue-bg);
    text-transform: uppercase;
  }
  
  .blogTitle {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.36px;
    color: var(--black-bg);
  }
  
  .blogText {
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: 0.3;
    color: #313131;
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; */
  }

  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
  }
  
  .navLeft {
    left: -100px; /* adjust as needed based on carousel width */
  }
  
  .navRight {
    right: -105px;
  }

  .faqSectionContainer{
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .faqSection {
    width: 80%;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 4rem; */
    gap: 50px;
  }
  .faqTitleContainer{
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .faqSubtitle{
    width: 90%;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
  }
  
  .mainHeading{
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .questionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  .faqGridTwoCol {
    display: flex;
    gap: 4rem;
  }
  
  .faqColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .faqGridOneCol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .viewMoreBtn{
    display: flex;
    height: 46px;
    white-space: nowrap;
    flex-grow: 0;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 20px;
    width: auto;
    margin: 0px 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
    color: black;
    border: 1px solid black;
    height: 61px;
    border-radius: 50px;
    margin-bottom: 50px;
  }
  .questionIndex{
    color: rgba(25, 93, 255, 1);
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    /* font-family: Montserrat; */
  
  }
  .allQuestionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* column-count: 2; */
    /* align-items: flex-start; */
    /* width: 900px; */
    /* gap: 1em; */
  }
  
  .questionModal{
    width: 100%;
    height: 150px;
    padding: 16px 0px 30px 0px;
    /* background-color: #FAFAFA; */
    border-bottom: 1px solid #0B2131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }
  .openModal{
    height: auto;
  }
  .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 30px;
  }
  
  .question p{
    /* font-family: Montserrat; */
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #27272A;
    width: 100%;
  }
  
  .answer{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.3s ease;
  }
  
  .answer p{
    /* font-family: Montserrat; */
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #27272A;
    width: 80%;
    margin-top: 15px;
  }

  .open{
    max-height: 400px;
    opacity: 1;
  } 


