
.container {
    display: flex;
    margin-top: 70px;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .featured {
    /* background: #222023;
    background: url('/img/fixed-camera-featured-photo.svg');
    background-size: cover; */
    color: var(--white);
    position: relative;
    height: 700px;
  }
  .mainImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* opacity: 0.5; */
    }
.grid{
    z-index: 1;
    color: white;
    background: linear-gradient(150deg, rgba(56, 67, 184, 0.85) 0%, rgba(47, 52, 112, 0.85) 25%, rgba(47, 52, 112, 0.5) 35%, transparent 100%);
    background-blend-mode: overlay;
    padding-left: 150px;
    padding-top: 100px;
    height: 700px;
    width: 100%;
}

.featuredTitle{
    font-size: 70px;
    line-height: 80.4px;
    letter-spacing: -2.1px;
    font-weight: 600;
    width: 80%;
    color: #FFFFFF;
}

.featuredText{
    font-size: 24px;
    line-height: 34.56px;
    font-weight: 400;
    width: 45%;
    color: #FFFFFF;
    margin-top: 30px;
}

.requestDemoBtn{
    height: 60px;
    width: 170px;
    border-radius: 100px;
    background: #195DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.vehicleScannerSection, .benefitsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.vehicleScannerFeaturesContainer, .benefitsContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.vehicleScannerFeaturesContainer h2, .benefitsContainer h2{
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -3.46px;
    font-weight: 500;
    width: 60%;
}

.vehicleScannerFeaturesContent{
    display: flex;
    gap: 40px;
    width: 100%;
}

.vehicleScannerFeature{
    /* width: 450px; */
    width: 33.3%;
    height: 380px;
    border-radius: 28px;
    border: 1px solid #4353FF;
}
.scannerImg{
    position: relative;
    width: 100%;
    height: 50%;
}

.scannerImg img{
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.scannerContent{
    padding: 30px;
  
}

.scannerContent h3{
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;

}
.scannerContent p{
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    margin-top: 20px;
}

.benefitGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 20px;
    justify-content: space-between;
}

.benefitItem{
    display: flex;
    align-items: flex-start;
    /* gap: 16px; */
    width: calc(50% - 60px); /* Two columns with gap */
}

.benefitItemImg{
    object-fit: contain;
    /* margin-top: 4px; */
}

.benefitItem p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 20px;
    width: 90%;
}

.servedFeaturesSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.servedFeaturesContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.servedFeatureHeading{
    font-size: 65px;
    line-height: 95px;
    letter-spacing: -3.46px;
    font-weight: 500;
}

.servedFeatureText{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    width: 80%;
}

.servedFeaturesContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}
.servedFeature{
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    /* overflow: hidden; */
}

.servedFeatureTitle{
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
}

.servedFeatureSubTitle{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
}
.arrow{
    padding-top: 120px;
}

.additionalSection{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.additionalSectionContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.additionalSectionHeading{
    font-size: 65px;
    line-height: 95px;
    letter-spacing: -3.46px;
    font-weight: 500;
    width: 70%;
}

.additionalSectionSubHeading{
    font-size: 24px;
    line-height: 36px;
    font-size: 400;
    width: 80%;
}

.additionalSectionContent{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    width: 100%;
}

.additionalSectionBox{
    width: 33.3%;
    border-radius: 28px;
    border: 1px solid #4353FF;
    gap: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.additionalSectionInnerBox{
   width: 80%;
}
.additionalSectionImg{
    position: relative;
    width: 100%;
    height: 60%;

}

.additionalSectionImg img{
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
}

.additionalSectionTitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.additionalSectionText{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.faqSectionContainer{
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .faqSection {
    width: 80%;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 4rem; */
    gap: 50px;
    margin-bottom: 50px;
  }
  .faqTitleContainer{
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .faqTitleContainer p{
  margin-top: 30px;
  }
  .faqTitle{
    font-size: 86px;
    line-height: 95px;
    letter-spacing: -3.46px;
    font-weight: 500;
    text-align: left;
  }
  .faqSubTitle{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
  }

  .questionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  
  .faqGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two equal-width columns */
    gap: 10px; /* spacing between columns and rows */
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    column-gap: 100px;
  }
  .questionIndex{
    color: rgba(25, 93, 255, 1);
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    /* font-family: Montserrat; */
  
  }
  .allQuestionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* column-count: 2; */
    /* align-items: flex-start; */
    /* width: 900px; */
    /* gap: 1em; */
  }
  
  .questionModal{
    width: 100%;
    height: 150px;
    padding: 16px 0px 30px 0px;
    /* background-color: #FAFAFA; */
    border-bottom: 1px solid #0B2131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }
  .openModal{
    height: auto;
  }
  .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    gap: 30px;
  }
  
  .question p{
    /* font-family: Montserrat; */
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #27272A;
    width: 100%;
  }
  
  .answer{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.3s ease;
  }
  .viewMoreBtn{
    display: flex;
    white-space: nowrap;
    flex-grow: 0;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 20px;
    width: auto;
    margin: 0px 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
    color: black;
    border: 1px solid black;
    height: 61px;
    border-radius: 50px;
  }
  .answer p{
    /* font-family: Montserrat; */
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #27272A;
    width: 80%;
    margin-top: 15px;
  }
  
  .open{
    max-height: 400px;
    opacity: 1;
  }
 


@media (max-width: 1024px) {
    .featured {
        position: static;
        /* background: none; */
        background: linear-gradient(150deg, rgba(56, 67, 184, 1) 0%, rgba(47, 52, 112, 1) 18%, rgb(33, 33, 33) 25%);
      }
      .featured > div:first-of-type {
        display: none !important;
      }
      .mainImg{
        display: none;
      }
    
      .grid{
        width: 100%;
        z-index: 1;
        color: white;
        box-sizing: border-box;
        background: linear-gradient(150deg, rgba(56, 67, 184, 0.85) 0%, rgba(54, 60, 172, 0.85) 15%, transparent 100%);
        background-blend-mode: overlay;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    .featuredTitle{
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 2px;
        font-weight: 600;
        width: 80%;
        color: #FFFFFF;
    }
    
    .featuredText{
        margin-top: 20px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        width: 70%;
        color: #FFFFFF;
    }

    .requestDemoBtn {
        width: 190px;
        margin-top: 50px;
        left: 20px; /* anchor it within the grid */
        right: 20px; /* optional: prevent overflow */
        max-width: calc(100% - 40px); /* ensures no horizontal scroll */
      }
    .vehicleScannerSection{
        width: 100dvw;
        max-width: 100%;
        margin-top: 20px;
    }
    .vehicleScannerFeaturesContent{
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        transition: transform 10s ease-in-out;
    }

    .vehicleScannerFeaturesContainer, .benefitsContainer, .servedFeaturesContainer{
        width: 90%;
        gap: 20px;
    }
    .vehicleScannerFeaturesContainer h2, .benefitsContainer h2, .servedFeatureHeading{
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.5px;
        width: 80%;
    }

    .vehicleScannerFeature{
        width: 80%; /* full viewport width */
        scroll-snap-align: start;
        flex-shrink: 0;
        height: 380px;
    }

    .vehicleScannerFeaturesContent::-webkit-scrollbar {
        display: none;
      }

    .scannerContent{
        padding: 25px;
    }
    .scannerContent p{
        line-height: 25px;
    }
    .benefitsSection{
        width: 100dvw;
        max-width: 100%;
        margin-top: 40px;
    }
    .benefitGrid{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px;
    }
    .benefitItem{
        width: 85%;
    }
    .benefitItem p{
        font-size: 16px;
        line-height: 24px;
        width: 150%;
    }
    .servedFeatureHeading{
        font-size: 45px;
        line-height: 65px;
        letter-spacing: -2.46px;
        /* font-weight: 500; */
    }
    
    .servedFeatureText{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        width: 90%
    }
    .servedFeaturesContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .servedFeatureText, .additionalSectionSubHeading, .faqSubTitle{
        font-size: 18px;
        line-height: 36px;
        width: 85%;
    }
    .servedFeature{
        width: 90%;
        border-bottom: 9px solid #E6EBFA;
    }


    .additionalSection{
        width: 100dvw;
        max-width: 100%;
        margin-top: 40px;
    }
    .additionalSectionContainer{
        width: 90%;
    }
    .additionalSectionHeading{
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 1px;
        width: 80%;
    }
    .additionalSectionSubHeading{
        font-size: 20px;
        line-height: 30px;
    }

    .additionalSectionContent{
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        transition: transform 10s ease-in-out;
    }

    .additionalSectionBox{
        width: 80%; /* full viewport width */
        scroll-snap-align: start;
        flex-shrink: 0;
        height: 400px;
    }

    .additionalSectionText{
        margin-top: 20px;
    }
    .additionalSectionContent::-webkit-scrollbar {
        display: none;
      }
      .faqSectionContainer{
        width: 100dvw;
        max-width: 100%;
        margin-top: 40px;
      }
      .faqSection{
        width: 90%;
      }
    .faqTitle{
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 2px;
        width: 80%;
    }
    .faqSubTitle{
        font-size: 20px;
        line-height: 30px;
        /* font-weight: 400; */
      }

      .questionContainer{
        width: 100%;
    }
    .questionModal{
        height: 100px;
    }
    .questionIndex{
        font-size: 20px;
    }
    .openModal{
        height: auto;
      }
    .faqGrid{
        grid-template-columns: 1fr;
        column-gap: 0;
        /* padding: 0px 10px; */
    }
    .question p{
        font-size: 16px;
    }
    .answer p{
        font-size: 15px;
    }

  }
  